<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="local" name="spring.application.name" source="spring.application.name" defaultValue=""/>
    <appender name="STASH" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <destination>${STASH_DEST:-localhost:5000}</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name": "${spring.application.name:-Unassigned}", "node_name": "${CONTAINER_NAME:-Unassigned}"}</customFields>
        </encoder>
    </appender>

    <root level="WARN" additivity="false">
        <appender-ref ref="STASH" />
    </root>

    <logger name="org.coodex" level="DEBUG" additivity="false">
        <appender-ref ref="STASH" />
    </logger>

    <logger name="okhttp3" level="DEBUG" additivity="false">
        <appender-ref ref="STASH" />
    </logger>
</configuration>